@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);

section {
    height: 100%;
    justify-content: center;
    text-align: center;
}

h1 {
    font-family: MapoFlowerIsland;
}

@font-face {
    font-family: 'MapoFlowerIsland';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.search {
    font-family: MapoFlowerIsland;
}

.searchBar {
    white-space: nowrap;
    position: relative;
}

input {
    border-radius: 10px;
    font-size: 20px;
    font-family: MapoFlowerIsland;
    padding-left: 30px;
    width: 30%;
}

.icon {
    position: absolute;
    top: 16%;
    margin-left: 8px;
    z-index: 1;
    color: #4f5b66;
}