.container {
    height: 100%;
    display: flex;
    justify-content: center;
}

h1 {
    font-family: MapoFlowerIsland;
}

@font-face {
    font-family: 'MapoFlowerIsland';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}